.head-text-santhosh{
    font-family: 'Charmonman', cursive;
    color: #ffffff;
    font-size: 1.50rem !important;
}
body{
    font-family: 'Roboto Slab', serif;
}
.clear-filter[filter-color=blue]{background:rgba(44,44,44,.2);background:linear-gradient(0deg,rgba(44,44,44,.2),rgba(0,212,255,1))}
.navbar .navbar-nav .nav-link:not(.btn) {
     padding: 0.5rem 2rem;   
}